.user-container{
    padding: 5%;
    margin: 20px;
}

.user-container h2{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.user-top{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.user-props{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.contact-body input{
    width: 80%;
}

.contact-info{
    height: 500px;
    width: 500px;
}

.user-events th, .user-props th{
    background-color: rgb(114, 162, 245);
    color: white;
    font-size: 18px;
}

.user-events{
    margin-left: 40px;
}