.user-container{
    padding: 5%;
}

.user-top{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.user-props{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-body{
    display: flex;
    flex-direction: column;
}

.contact-info{
    height: 100%;
    width: 500px;
}

.user-events th, .user-props th{
    background-color: rgb(114, 162, 245);
    color: white;
    font-size: 18px;
}

.user-events{
    margin-left: 20px;
}